@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');











body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0c0c0c;
    color: aliceblue;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    overflow-x: hidden;
}

.container{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
    justify-content: space-evenly;
}


.recipe-cards{
    max-width: 400px;
    min-width: 400px;
    color: aliceblue;
    font-size: 1rem;
    width: fit-content;
    padding: 2rem;
    text-align: left;
    margin-top: 5rem;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.23);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
border: 1px solid rgba(255, 255, 255, 0.04);





font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;


  line-height: 2rem;
}
.recipe-card-heading{
    font-size: 2rem;
    text-align: center;
    
}








.input-field{
    height: 2rem;
    width: 25rem;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    flex: 1;
    border: 1px solid #0c0c0c;
}

.search-btn{
    font-size: 15px;
    background-color: aquamarine;
    border: 1px solid #0c0c0c;
    width: 5rem;
    margin-right: 10px;
    border-radius: 10px;
    
}


.search-bar{
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    gap: 20px;
}
.title{

    font-size: 4rem;
    text-align: center;

}

.recipe-image{
    border-radius: 10px;
    width: 100%;
}